html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hey New Dockers!!!
        p
          a.btn.btn-primary(href="https://docs.docker.com/engine/install/ubuntu/" target="_blank") Install Docker Engine on Ubuntu

          a.btn.btn-outline-primary(href="https://docs.docker.com/get-started/02_our_app/" target="_blank") Docker Sample application         
          
          a.btn.btn-primary(href="https://kubernetes.io/docs/tutorials/kubernetes-basics/" target="_blank") Kubernetes Basic
        p
        p Welcome to Docker and Kubernetes world!!!.
